<app-navigation></app-navigation>

<div class="ui-g">
    <div class="ui-g-12 ui-md-12 nopad"><app-movie-page-header></app-movie-page-header></div>
    <div class="ui-g-12 ui-md-2 nopad">
        <app-movie-query></app-movie-query>
    </div>
    <div class="ui-g-12 ui-md-10 nopad">
        <div class="ui-g-12 nopad">
            <app-movie-pager></app-movie-pager>
        </div>
        <div class="ui-g-12 nopad">
            <app-movie-search></app-movie-search>
        </div>
    </div>
</div>